#all-pages {
    position: relative;
}

.page {
    height: 100vh;
    /* padding and margins will be part
    of the box width and height */
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    will-change: transform;
}

.hidden {
    /* if the amount to translate by
    is the percentage, then 100% will
    the width of the element */
    transform: translateX(-100%);
    transition: transform 1s;
}

.show {
    transform: translateX(0);
    transition: transform 1s;
}

#page-1 {
    background-color: aliceblue;
}

#page-2 {
    background-color: blanchedalmond;
}
#page-3 {
    background-color: cornsilk;
}